[profile.default]
src = "src"
out = "out"
libs = ["lib"]
fs_permissions = [{ access = "read-write", path = "./"}]
gas_limit = "18446744073709551615"
memory_limit = 18446744073709
evm_version = "paris"
# ignore compiler warning: unused-param
ignored_error_codes = [5667]
# ignore warnings from script folder and test folder
ignored_warnings_from = ["script", "test"]

[rpc_endpoints]
ethereum_local_rpc = "${ETHEREUM_LOCAL_RPC}"
exocore_local_rpc = "${EXOCORE_LOCAL_RPC}"

[fmt]
number_underscore = "thousands"
sort_imports = true
wrap_comments = true
single_line_statement_blocks = "multi"
contract_new_lines = true
# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
