[profile.default]
src = "src"
out = "out"
libs = ["lib"]
fs_permissions = [{ access = "read-write", path = "./"}]
gas_limit = "18446744073709551615"
memory_limit = 18446744073709
evm_version = "paris"

[rpc_endpoints]
ethereum_local_rpc = "${ETHEREUM_LOCAL_RPC}"
ethereum_sepolia_rpc = "${ETHEREUM_SEPOLIA_RPC}"
exocore_local_rpc = "${EXOCORE_LOCAL_RPC}"
# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options

