name: Lint Solidity

on: 
  pull_request:
  push:
    branches:
      - main
      - release/**
    tags:
      - "*"

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '22'

    - name: Install Prettier
      run: npm install --save-dev prettier prettier-plugin-solidity

    - name: Run Prettier
      run: npx prettier --check 'script/**/*.sol' --check 'src/**/*.sol' --check 'test/*/*.sol'

