name: test

on: 
  pull_request:
  push:
    branches:
      - main
      - release/**
    tags:
      - "*"

env:
  FOUNDRY_PROFILE: ci

jobs:
  check:
    strategy:
      fail-fast: true

    name: Foundry project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          # replace nightly because latest nightly release has some breaking changes that result in test failures
          # this is a previous recent nightly release that should work
          version: nightly-f625d0fa7c51e65b4bf1e8f7931cd1c6e2e285e9

      - name: Run Forge build
        run: |
          forge --version
          forge build --sizes
        id: build

      - name: Run Forge tests
        run: |
          forge test -vvv
        id: test
